#nav {
    /* margin: 10px auto; */
    margin-top: 200px;
    height: 40px;
    background-color: rgb(218, 218, 218);
}         
#nav ul {
    text-align: center;
    list-style: none;
    margin-left: 10px;
}           
#nav li {
    display: inline;   
    text-align: center;     
    text-transform: uppercase;   
}           
#nav a {
    border-left:2px solid rgb(255, 255, 255);
    line-height: 40px;
    color: #fff;
    text-decoration: none;
    padding: 10px 60px;
    box-shadow: inset 20px;
}           
#nav a:hover {
    width: auto;
    background-color: rgb(198, 198, 198);
}
body {
    background-image: url('images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}
/* headings, paragraphs, lists, text links, images, table(s) and form(s) */

#home header {
    background: no-repeat url(images/banner.png);
    background-size: 1500px;
}

header {
    width: 100%;
    min-height: 200px;
    padding-top: 3em;
}
h1 {
    color: rgb(221, 0, 0);
    margin-top: 20px;
    margin-bottom: -20px;
    text-align: center;
}

h2 {
    margin-top: 30px;
    margin-bottom: 20px;
}

h1, h2, h3 {
    font-family:Arial, Helvetica, sans-serif;
}

p{
    font-family: 'Courier New', Courier, monospace;
}

.main-header img{
    margin-top: -30px;
    width: 75px;
    /* display: flex; */
    float: left;
}

.main-header p{
    /* display: flex; */
    text-align: center;
    margin-top: -20px;
}

#firstname, #phone, #lastname, #email {
    width: 300px;
}

label {
    font-family: Arial, Helvetica, sans-serif;
}

fieldset {
    border:1px solid rgb(221, 0, 0);
}

table {
    width: 1500px;
    margin: 4em auto 4em auto;
}

caption {
    background: rgb(218, 218, 218, 0.8);
    height: 40px;
    color: #fff;
    font-size: 1.3em;
    font-weight: bold;
    padding-top: 1em;
}

caption h3{
    margin-top: -5px;
}

thead, tbody {
    background:#ffffff;
    opacity: 0.5;
    text-align: center;
    font-weight:bold;
}

th, td {
    width: 225px;
    height: 75px;
    vertical-align: middle;
    border: solid 1px #852b1b;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    background-color: rgb(159, 159, 159);
    color:white;
    /* opacity: 0.5; */
}

/* gallery */
#photos li {
  list-style-type: none; /* Remove bullets */
  display: inline-block;
  margin: 10px;
}

#photos{
    margin: auto;
    margin-top: 40px;
    width: 75%;
}

#photos img{
    width: 550px;
}